@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
body, html{
    height: 100vh;
    width: 100%;
}
header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    width: 100vw;
    background-color: white;
}
#img__logo__mcdonalds{
    height: 120px;
}
#conteiner__cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#sidebarUp{
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    
}

#sideBar__link{
    width: 40vw;
    display: flex;
    gap: 5%;
}
.sideBar__link__text{
    font-size: .8em;
    color: black;
}
#sideBar__btn{
    width: 30vw;
    display: flex;
    gap: 30px;
}
.sideBar__link__text{
    display: flex;
    gap: 5px;
    align-items: center;
}
.fa-solid{
    color: rgb(255, 204, 0);
    font-size: 2.3em;
}
.sideBar__link__btn{
    display: flex;
    align-items: center;
    background-color: rgb(255, 191, 0);
    padding: 6px 17px;
    color: rgb(80, 80, 80);
    border: 1px solid rgb(252, 228, 95);
    border-radius: 5px;
}
.sideBar__link__btn:hover{
    background-color: rgb(255, 225, 0);
}
#img_btn{
    height: 35px;
    margin-right: 10px;
}
#conteiner__sidebar_menu{
    display: flex;
    align-items: center;
    gap: 30px;

}
#conteiner__sidebar_menu li{
    font-size: 1em;
    font-weight: 400;
}
.sidebarDown{
    margin-top: 18px;
}

/* footer */
footer{
    width: 100vw;
}
.flex{
    display: flex;
}
.div-onda{
    position: relative;
    width: 100vw;
    height: 150px;
    background-color: rgba(255, 179, 11, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.div-onda img{
    height: 100px;
}

.div-onda button{
    border: none;
    background-color: white;
    padding: 15px 30px;
    border-radius: 5px;
}
#menssage__info h2{
    font-weight: 900;
    font-size: 2em;
    margin-bottom: 20px;
}
#menssage__info p{
    width: 40vw;
}
.conteiner__footer__onda{
    margin-top: 100px;
}
#footer__links{
    display: flex;
    justify-content: center;
    gap: 160px;
   
}
.links{
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
}
.links li{
    color: gray;
}
.links li:hover{
    color: black;
}
.title__ul{
    color: black !important; 
    font-weight: 500;
}
.img__down{
    height: 40px;
}
.footer__redsoc__downloads{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45%;
    margin-top: 80px;
}
.footer__redeSociais{
    display: flex;
    gap: 20px;
}
.fa-brands{
    color: gray;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 50%;
    
}
.fa-facebook-f{
    padding: 5px 10px;
}
.fa-facebook-f:hover{
    color: white;
    background-color: blue;
    border: 1px solid blue;
}
.fa-twitter{
    padding: 7px 7px;
}
.fa-twitter:hover{
    color: white;
    background-color: rgb(107, 107, 191);
    border: 1px solid rgb(107, 107, 191);
}
.fa-instagram{
    padding: 6px 8px;
}
.fa-instagram:hover{
    color: white;
    background-color: rgb(255, 0, 43);
    border: 1px solid rgb(255, 0, 43);
}
.fa-youtube{
    padding: 7px 7px;
}
.fa-youtube:hover{
    color: white;
    background-color: red;
    border: 1px solid red;
}
.footer__finaly{
    display: flex;
    justify-content: center;
    gap: 45%;
    align-items: center;
    margin-top: 80px;
    border-top: 1px solid rgb(181, 181, 181);
    width: 100vw;
}
.termos{
    display: flex;
    gap: 50px;
}
.termos a{
    color: gray;
}
.termos a:hover{
    color: black;
}
.autoral{
    display: flex;
    align-items: center;
}
.autoral img{
    height: 60px;
}